/* DOCUMENT INFORMATION
    Name: Alexis Choloux - Portfolio
    Version: 1.0.0
    Author: Alexis Choloux
    Date: 31/10/20

FONTS
    h1= 'Montserrat', sans-serif
    h2= 'MuseoModerno', cursive
    =>h3= 'Varta', sans-serif
    p= 'Roboto', sans-serif

COLORS
    -Primary= #3097BF
    -Secondary= #3270A6
    -Tertiary= white
    -Special= #bf3434

CSS/HTML DIRECTORY
    1. GENERAL
    2. TOP HEADER
    3. NAVBAR
     - mediaqueries
    4. HOME
    5. PARCOURS
     - mediaqueries
    6.PORTFOLIO
*/

/* GENERAL
======================= */
html {
    scroll-behavior: smooth;
  }

body h1 {
    font-family: 'Montserrat', sans-serif;
}

body h2, h3 {
    font-family: 'MuseoModerno', cursive;
    font-size: 60px;
}

body h4, h5, h6 {
    font-family: 'Varta', sans-serif;
}

body h3 {
    font-size: 40px;
    color: #3097BF;
    padding-top: 5px;
    width: 550px;
}

body p {
    font-family: 'Roboto', sans-serif;
}

body button {
    padding: 0 20px 3px 20px;
    background-color: #bf3434;
    border: solid #bf3434 1px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
}
body button:hover {
    scale: 1.1;
    transition : 1s;
}

main section {
    margin-top: 20px;
    padding-bottom: 100px;
}

body .spinner-grow {
    margin-right: -20px;
}


/* TOP HEADER
====================== */
#top-header {
    background-color: #3270A6;
    color: white;
}

#top-header p {
    padding-top : 15px;
    margin-right: 20px;
}

#top-header button {
    font-size: 14px;
}



/* NAVBAR
============================= */
.navbar {
    height: 70px;
}

#brand-img {
    height: 120px;
    margin-top: 70px;
}

/* media querries */
@media screen and (max-width:991px) {
    #brand-img {
        margin-top : 0px;
    }
}


/* HOME
=========================== */
#home {
    background-image: url("../images/alexis-choloux-portfolio-main-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
}

#home button {
    margin-bottom: 80px;
    font-size: 22px;
}
#home button:hover {
    scale: 1.3;
}

#first-title {
    margin: -16px 0 140px 0;
    font-size: 60px;
    color:white;
}

#second-title {
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
}

#third-title {
    font-size: 30px;
    color: white;
}

/* media querries */
@media screen and (max-width:1199px) {
    #first-title {
        margin: 70px 0 140px 0;
    }
}

/* PARCOURS
====================== */
#parcours img {
    height: 200px;
    border-radius: 50%;
}

#parcours button:hover {
    scale: none;
}

#downloadCv:hover {
    background-color: white;
    border: solid #bf3434 1px;
    color: #bf3434;
}

.hand {
    position: relative;
    animation-name: hand1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes hand1 {
    0% {top: 0}
    50% {top: 1.4vh}
    100% {top: 0}
}

/* PORTFOLIO
============================ */
#portfolio {
    margin-top: 30px;
}

#skills {
    display: flex;
    justify-content: center;
}

.portfolioImg {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 30vh;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin-bottom: 3vh;
}

.imgTitle {
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: white;
    background-color: #184872b4;
    border-radius: 15px;
}

.imgTitle h4 {
    padding: 10px 5px 0 5px;
    font-size: 15px;
    font-weight: bold;
}

.portfolioImg:hover {
    scale: 1.1;
    transition: 1s;
}

#portfolioBtn {
    text-align: center;
    margin-bottom: 5vh;
}

/* CONTACT
============================== */
#contact {
    background-color: #3270A6;
}

#contact .card {
    margin-top: -50px;
    background-color: #132e46;
    border-radius: 10px;
    color: white;
}

#contact h3 {
    color: white;
    padding: 0;
}

#contactBtn:hover {
    background-color: #132e46;
    border: solid white 1px;
    scale: none;
}

.text-grey {
    color: rgb(192, 189, 189);
}

.social a {
    color: rgba(255, 255, 255, 0.815);
}
.social a:hover {
    color: #132e46;
    transition: 1s;
}

/* mediaquerries */
@media screen and (max-width:410px) {
    #contactTitle {
        font-size: 33px;
    }
}
